{% extends 'admin/audio/layout.html.twig' %}

{% block page_content %}
    <table class="table">
        <thead>
            <tr>
                <th>artist</th>
                <th>album</th>
                <th>title</th>
                <th>genre</th>
                <th>year</th>
                <th>duration</th>
            </tr>
        </thead>
        <tbody>
            {% for audio in audios %}
                <tr>
                    <td>{{ audio.artist.title }}</td>
                    <td>{{ audio.album.title }}</td>
                    <td>{{ audio.title }}</td>
                    <td>{{ audio.genre }}</td>
                    <td>{{ audio.album.year }}</td>
                    <td>{{ audio.duration }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}